In [17]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
from IPython.display import display
from sklearn.metrics import r2_score

In [26]:
# get our initial data
immig = pd.read_csv('Datasets/ImmigrationByRegion.csv').transpose()
immig_regions = immig.iloc[0]
immig = immig[1:]
immig = immig.rename(columns = immig_regions)
immig = immig[::-1]
display(immig)

            Europe          Asia       Africa    Oceania      Americas
1850    2,031,867         1,135          551        588       168,484
1860    3,807,062        36,796          526      2,140       288,285
1870    4,941,049        64,565        2,657      4,028       551,338
1880    5,751,823       107,630        2,204      6,859       807,359
1890    8,030,347       113,383        2,207      9,353     1,088,245
1900    8,881,548       120,248        2,538      8,820     1,317,380
1910   11,810,115       191,484        3,992     11,450     1,489,231
1920   11,916,048       237,950       16,126     14,626     1,727,017
1950   11,784,010       275,665       18,326     17,343     2,102,209
1960    7,256,311       490,996       35,355     34,730     1,860,809
1970    5,740,891       824,887       80,143     41,258     2,616,391
1980    5,149,572     2,539,777      199,723     77,577     5,225,914
1990    4,350,403     4,979,037      363,819    104,145     9,161,754
2000    4,915,557     8,226,254      881,300    168,046    16,916,416
2010    4,509,000    11,284,000    1,607,000    217,000    22,031,000

In [27]:
# then clean our names
names = pd.read_csv('Datasets/NationalNames.csv', delimiter = ',', usecols = [1, 2, 3, 4])
names = names.groupby(['Name', 'Year'])['Count'].sum()
names = names.unstack(level=0)
display(names.head())

Name,Aaban,Aabha,Aabid,Aabriella,Aadam,Aadan,Aadarsh,Aaden,Aadesh,Aadhav,...,Zyshon,Zyshonne,Zytaevius,Zytaveon,Zytavion,Zytavious,Zyvion,Zyyanna,Zyyon,Zzyzx
Year,,,,,,,,,,,,,,,,,,,,,
1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# now groupby 10 and at last we have what we want
names_10 = names.groupby([(y / 10) * 10 for y in names.index.values]).sum().fillna(0)
display(names_10)

Name,Aaban,Aabha,Aabid,Aabriella,Aadam,Aadan,Aadarsh,Aaden,Aadesh,Aadhav,...,Zyshon,Zyshonne,Zytaevius,Zytaveon,Zytavion,Zytavious,Zyvion,Zyyanna,Zyyon,Zzyzx
1880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1980,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990,0.0,0.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,...,8.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000,11.0,0.0,5.0,5.0,74.0,58.0,109.0,2535.0,10.0,16.0,...,11.0,45.0,0.0,0.0,0.0,37.0,5.0,0.0,0.0,0.0
2010,61.0,21.0,0.0,5.0,70.0,54.0,49.0,1385.0,5.0,86.0,...,0.0,0.0,5.0,15.0,5.0,6.0,0.0,6.0,6.0,5.0

In [32]:
# get some useful tools out of the way now
# to check for empty values in immigration
import re
numeric = re.compile("\d+(?:,\d+)?")
# display(s[s.str.match("\d+(?:,\d+)?")])
# to normalize series
def normalize(series):
    max_val = series.max()
    min_val = series.min()
    return (series - min_val) / (max_val - min_val)
def standardize(series):
    return (series - series.mean()) / series.std()

In [35]:
region_dict = {}
# short circuit example:
# for region in immig.columns[:5]:
for region in immig.columns:
    # this takes a while, so just to track progress--
    print 'Calculating ', region, ' :',
    region_vals = immig[region].fillna('(NA)')
    # filter for only immigration years with present values
    #region_vals = region_vals[region_vals.str.match("\d+(?:,\d+)?")]
    # find the years both names and immigration have
    # handle string nature of immigration years
    common_years = names_10.index.intersection(region_vals.index.map(int))
    # filter immigration years by common years, handling int/str switch
    region_vals = region_vals[map(str, common_years)]
    # then map back to int, handling commas
    region_vals = region_vals.apply(lambda x: int(x.replace(',', '')))
    # and normalize
    region_vals = normalize(region_vals)
    region_dict[region] = []
    name_num = 0
    # short circuit example:
    # for name in names_10.columns[:10000]:
    for name in names_10.columns:
        # more progress tracking
        if name_num % 5000 == 0:
            print name, '...',
        name_vals = names_10[name]
        name_vals = name_vals[common_years]
        name_vals = normalize(name_vals)
        # handle some empty arrays because 2010 exclusion
        if name_vals.isnull().any():
            score = -10
        else:
            # first value is true--actual immigration data
            # second value is predict--name data we're trying to use as model
            score = r2_score(region_vals, name_vals)
        region_dict[region].append((name, score))
        name_num += 1
    print 'done!'

Calculating  Europe  : Aaban ... Analysia ... Barnard ... Cesear ... Daralyn ... Dvir ... Gabryelle ... Isbel ... Jeraldo ... Kaston ... Kynsleigh ... Luceli ... Meera ... Nicholaos ... Raimee ... Saraelizabeth ... Solangel ... Tiffiani ... Willabell ... done!
Calculating  Asia  : Aaban ... Analysia ... Barnard ... Cesear ... Daralyn ... Dvir ... Gabryelle ... Isbel ... Jeraldo ... Kaston ... Kynsleigh ... Luceli ... Meera ... Nicholaos ... Raimee ... Saraelizabeth ... Solangel ... Tiffiani ... Willabell ... done!
Calculating  Africa  : Aaban ... Analysia ... Barnard ... Cesear ... Daralyn ... Dvir ... Gabryelle ... Isbel ... Jeraldo ... Kaston ... Kynsleigh ... Luceli ... Meera ... Nicholaos ... Raimee ... Saraelizabeth ... Solangel ... Tiffiani ... Willabell ... done!
Calculating  Oceania  : Aaban ... Analysia ... Barnard ... Cesear ... Daralyn ... Dvir ... Gabryelle ... Isbel ... Jeraldo ... Kaston ... Kynsleigh ... Luceli ... Meera ... Nicholaos ... Raimee ... Saraelizabeth ... Solangel ... Tiffiani ... Willabell ... done!
Calculating  Americas  : Aaban ... Analysia ... Barnard ... Cesear ... Daralyn ... Dvir ... Gabryelle ... Isbel ... Jeraldo ... Kaston ... Kynsleigh ... Luceli ... Meera ... Nicholaos ... Raimee ... Saraelizabeth ... Solangel ... Tiffiani ... Willabell ... done!

In [36]:
for region in region_dict:
    name_scores = region_dict[region]
    name_scores = sorted(name_scores, key=lambda x: -x[1])
    name_scores = [(x[0], round(x[1], 2)) for x in name_scores]
    region_dict[region] = name_scores
    print region, ': ', name_scores[:100]

Europe :  [('Roxie', 0.98), ('Leeta', 0.93), ('Lona', 0.93), ('Susie', 0.93), ('Eugenie', 0.93), ('Parthenia', 0.92), ('Sylvania', 0.92), ('Dagmar', 0.92), ('Olinda', 0.91), ('Lesta', 0.89), ('Leita', 0.89), ('Artie', 0.89), ('Monnie', 0.88), ('Lennie', 0.88), ('Leta', 0.88), ('Nona', 0.88), ('Lauretta', 0.87), ('Louvenia', 0.87), ('Leatha', 0.87), ('Retta', 0.86), ('Roe', 0.85), ('Manuelita', 0.85), ('Leda', 0.85), ('Ardelia', 0.85), ('Netta', 0.85), ('Tempie', 0.84), ('Nonie', 0.84), ('Rosena', 0.84), ('Rollie', 0.83), ('Jannie', 0.83), ('Lethia', 0.83), ('Vinnie', 0.83), ('Annice', 0.83), ('Clemmie', 0.83), ('Della', 0.83), ('Fleming', 0.83), ('Belvia', 0.83), ('Rose', 0.82), ('Eppie', 0.82), ('Estella', 0.82), ('Margaretta', 0.82), ('Melvina', 0.82), ('Veta', 0.81), ('Pinkey', 0.81), ('Woodie', 0.81), ('Catharine', 0.81), ('Barney', 0.81), ('Martha', 0.81), ('Lawyer', 0.8), ('Neta', 0.8), ('Anice', 0.8), ('Helene', 0.8), ('Hamp', 0.79), ('Mada', 0.79), ('Adolphus', 0.79), ('Freda', 0.79), ('Mose', 0.79), ('Orelia', 0.79), ('Irma', 0.79), ('Aleda', 0.78), ('Collie', 0.78), ('Lugenia', 0.78), ('Zollie', 0.78), ('Ike', 0.78), ('Dora', 0.78), ('Josepha', 0.78), ('Letha', 0.78), ('Thyra', 0.78), ('Luvenia', 0.77), ('Mary', 0.77), ('Percy', 0.77), ('Sallye', 0.77), ('Margart', 0.77), ('Reta', 0.77), ('Trudie', 0.77), ('Willie', 0.77), ('Berta', 0.77), ('Cornelia', 0.76), ('Electa', 0.76), ('Marquerite', 0.76), ('Robley', 0.76), ('Burney', 0.76), ('Ebbie', 0.76), ('Hosie', 0.76), ('Enola', 0.75), ('Zona', 0.75), ('Claude', 0.75), ('Nonnie', 0.75), ('Rella', 0.75), ('Jule', 0.75), ('Pearlie', 0.75), ('Rosetta', 0.75), ('Theodosia', 0.75), ('Norine', 0.75), ('Aggie', 0.75), ('Pinkie', 0.75), ('Leonia', 0.74), ('Floretta', 0.74), ('Rowena', 0.74), ('Freida', 0.74)]
Oceania :  [('Sloan', 0.99), ('Weston', 0.98), ('Solange', 0.98), ('Boone', 0.98), ('Kiyomi', 0.98), ('Arisha', 0.98), ('Thorin', 0.97), ('Uriah', 0.97), ('Farida', 0.97), ('Raylon', 0.97), ('Levi', 0.97), ('Jabir', 0.97), ('Roselynn', 0.97), ('Arian', 0.97), ('Capri', 0.97), ('Grey', 0.97), ('Remy', 0.96), ('Kiam', 0.96), ('Linley', 0.96), ('Jema', 0.96), ('Eyad', 0.96), ('Miri', 0.96), ('Zeke', 0.96), ('Graeme', 0.96), ('Lowen', 0.96), ('Lesieli', 0.96), ('Yekusiel', 0.96), ('Aubrey', 0.96), ('Charli', 0.96), ('Emi', 0.96), ('Gedalia', 0.96), ('Sura', 0.96), ('Titus', 0.96), ('Saam', 0.95), ('Adrielle', 0.95), ('Dariel', 0.95), ('Zac', 0.95), ('Efrayim', 0.95), ('Adreena', 0.95), ('Othniel', 0.95), ('Alysson', 0.95), ('Hendrik', 0.95), ('Fallyn', 0.95), ('Aston', 0.95), ('Mysha', 0.95), ('Beauregard', 0.95), ('Rozlyn', 0.95), ('Anabell', 0.95), ('Remi', 0.95), ('Colt', 0.95), ('Caralynn', 0.95), ('Callin', 0.95), ('Abdulaziz', 0.95), ('Verity', 0.95), ('Akemi', 0.95), ('Daiana', 0.94), ('Yerachmiel', 0.94), ('Raelle', 0.94), ('Kato', 0.94), ('Alistair', 0.94), ('Saud', 0.94), ('Leia', 0.94), ('Nikolai', 0.94), ('Zehava', 0.94), ('Romina', 0.94), ('Davi', 0.94), ('Fitzpatrick', 0.94), ('Kamilla', 0.94), ('Analee', 0.94), ('Adeena', 0.94), ('Antonella', 0.94), ('Ariella', 0.94), ('Mera', 0.94), ('Jenson', 0.94), ('Crimson', 0.94), ('Nael', 0.94), ('Beaumont', 0.94), ('Zinnia', 0.94), ('Hosanna', 0.94), ('Taleen', 0.94), ('Narayan', 0.93), ('Ameila', 0.93), ('Afaf', 0.93), ('Manoah', 0.93), ('Jeremias', 0.93), ('Menashe', 0.93), ('Radley', 0.93), ('Muhammad', 0.93), ('Darina', 0.93), ('Salahuddin', 0.93), ('Banning', 0.93), ('Aira', 0.93), ('Dahlia', 0.93), ('Shavy', 0.93), ('Beaux', 0.93), ('Elif', 0.93), ('Langston', 0.93), ('Quinn', 0.93), ('Valyn', 0.93), ('Leahmarie', 0.93)]
Africa :  [('Charlee', 1.0), ('Raelyn', 1.0), ('Emberly', 1.0), ('Kathalina', 1.0), ('Jader', 1.0), ('Raelynne', 0.99), ('Sloane', 0.99), ('Suria', 0.99), ('Brielle', 0.99), ('Leyland', 0.99), ('Wren', 0.99), ('Paxton', 0.99), ('Zuri', 0.99), ('Sutton', 0.99), ('Colbie', 0.99), ('Kornelius', 0.99), ('Rajon', 0.99), ('Kace', 0.99), ('Ghazal', 0.99), ('Bow', 0.99), ('Persephone', 0.99), ('Ember', 0.99), ('Grayson', 0.99), ('Milanie', 0.99), ('Eira', 0.99), ('Freya', 0.99), ('Khalifa', 0.99), ('Case', 0.99), ('Bay', 0.98), ('Auri', 0.98), ('Maci', 0.98), ('Kenley', 0.98), ('Benaiah', 0.98), ('Flynn', 0.98), ('Kase', 0.98), ('Maverick', 0.98), ('Jayce', 0.98), ('Briggs', 0.98), ('Navy', 0.98), ('Rosali', 0.98), ('Renad', 0.98), ('Samil', 0.98), ('Lennon', 0.98), ('Gunnison', 0.98), ('Niome', 0.98), ('Aisleen', 0.98), ('Seydi', 0.98), ('Liam', 0.98), ('Lamere', 0.98), ('Ammanuel', 0.98), ('Kiralyn', 0.98), ('Raelynn', 0.98), ('Cairo', 0.98), ('Gemma', 0.98), ('Henrik', 0.98), ('Annalynn', 0.98), ('Ariadne', 0.98), ('Auset', 0.98), ('Legacy', 0.98), ('Krystell', 0.98), ('Dimari', 0.98), ('Kyuss', 0.98), ('Lynlee', 0.98), ('Keyston', 0.98), ('Rechy', 0.98), ('Axl', 0.98), ('Vidur', 0.98), ('Zecharia', 0.98), ('Seydina', 0.98), ('Naamah', 0.98), ('Eloni', 0.98), ('Zanovia', 0.98), ('Aubri', 0.98), ('Aubrei', 0.98), ('Annaleigh', 0.98), ('Rynn', 0.98), ('Annaleah', 0.98), ('Jordynn', 0.98), ('Chapel', 0.98), ('Raea', 0.98), ('Adalina', 0.98), ('Alister', 0.98), ('Pristine', 0.98), ('Nihaal', 0.98), ('Fatiha', 0.98), ('Lian', 0.98), ('Kyrus', 0.98), ('Cye', 0.98), ('Jannatul', 0.98), ('Aalaiyah', 0.98), ('Tameem', 0.98), ('Daxx', 0.98), ('Osiah', 0.98), ('Adilen', 0.98), ('Lui', 0.98), ('Naveena', 0.98), ('Juliete', 0.98), ('Azalea', 0.98), ('Valentina', 0.98), ('Demoni', 0.98)]
Asia :  [('Sura', 1.0), ('Ariella', 0.99), ('Yerachmiel', 0.99), ('Elif', 0.99), ('Adrielle', 0.99), ('Jenson', 0.99), ('Raelle', 0.99), ('Saud', 0.99), ('Adreena', 0.99), ('Kiam', 0.99), ('Zehava', 0.99), ('Suleiman', 0.99), ('Aston', 0.99), ('Remington', 0.99), ('Charli', 0.99), ('Jema', 0.99), ('Viren', 0.99), ('Beaux', 0.99), ('Manoah', 0.99), ('Kallen', 0.99), ('Nikolai', 0.99), ('Shavy', 0.98), ('Remi', 0.98), ('Othniel', 0.98), ('England', 0.98), ('Kilani', 0.98), ('Raylon', 0.98), ('Farida', 0.98), ('Honour', 0.98), ('Lesieli', 0.98), ('Weston', 0.98), ('Lian', 0.98), ('Audriana', 0.98), ('Kenzi', 0.98), ('Alistair', 0.98), ('Aira', 0.98), ('Nishika', 0.98), ('Arisha', 0.98), ('Yekusiel', 0.98), ('Dariel', 0.98), ('Grey', 0.98), ('Westin', 0.98), ('Nash', 0.98), ('Abdulaziz', 0.98), ('Kember', 0.98), ('Raylyn', 0.98), ('Cartier', 0.98), ('Baylen', 0.97), ('Benaiah', 0.97), ('Nosson', 0.97), ('Valyn', 0.97), ('Emmeline', 0.97), ('Alysson', 0.97), ('Saam', 0.97), ('Callan', 0.97), ('Daiana', 0.97), ('Remy', 0.97), ('Bowen', 0.97), ('Karam', 0.97), ('Kayler', 0.97), ('Crimson', 0.97), ('Ivanna', 0.97), ('Efrayim', 0.97), ('Raylynn', 0.97), ('Narayan', 0.97), ('Kato', 0.97), ('Jeancarlos', 0.97), ('Keaston', 0.97), ('Callin', 0.97), ('Atom', 0.97), ('Hesston', 0.97), ('Arian', 0.97), ('Roniel', 0.97), ('Cali', 0.97), ('Kolt', 0.97), ('Kora', 0.97), ('Alasdair', 0.97), ('Jovi', 0.97), ('Chatham', 0.97), ('Sloan', 0.97), ('Westen', 0.97), ('Darina', 0.97), ('Kamilla', 0.96), ('Rosali', 0.96), ('Yohannes', 0.96), ('Alister', 0.96), ('Boone', 0.96), ('Ariadne', 0.96), ('Liem', 0.96), ('Graeme', 0.96), ('Sapphira', 0.96), ('Zuri', 0.96), ('Mysha', 0.96), ('Batsheva', 0.96), ('Aubri', 0.96), ('Jubilee', 0.96), ('Kenzie', 0.96), ('Leevi', 0.96), ('Setareh', 0.96), ('Quinne', 0.96)]
Americas :  [('Grey', 0.99), ('Nikolai', 0.99), ('Sura', 0.99), ('Remi', 0.99), ('Jenson', 0.99), ('Charli', 0.99), ('Elif', 0.99), ('Zehava', 0.98), ('Yerachmiel', 0.98), ('Ariella', 0.98), ('Beaux', 0.98), ('Nash', 0.98), ('Kiam', 0.98), ('Othniel', 0.98), ('Suleiman', 0.98), ('Aubrey', 0.98), ('Dariel', 0.98), ('Raelle', 0.98), ('Alistair', 0.98), ('Manoah', 0.98), ('Aston', 0.98), ('Shavy', 0.98), ('Kallen', 0.98), ('Saud', 0.98), ('Daiana', 0.98), ('Aira', 0.98), ('Lian', 0.98), ('Adreena', 0.98), ('Adrielle', 0.98), ('Raylyn', 0.98), ('Farida', 0.98), ('Viren', 0.98), ('Remington', 0.98), ('Darina', 0.98), ('Emmeline', 0.98), ('Kamilla', 0.98), ('Arisha', 0.97), ('Kenzi', 0.97), ('Bowen', 0.97), ('Alysson', 0.97), ('Raylynn', 0.97), ('Dahlia', 0.97), ('Westin', 0.97), ('Atom', 0.97), ('Nishika', 0.97), ('Cali', 0.97), ('Sapphira', 0.97), ('Kato', 0.97), ('Crimson', 0.97), ('Jema', 0.97), ('England', 0.97), ('Karam', 0.97), ('Nosson', 0.97), ('Roniel', 0.97), ('Benaiah', 0.97), ('Cartier', 0.97), ('Matias', 0.97), ('Kora', 0.97), ('Jovi', 0.97), ('Gideon', 0.97), ('Boone', 0.97), ('Weston', 0.97), ('Dezi', 0.97), ('Eli', 0.97), ('Avni', 0.97), ('Valyn', 0.97), ('Remy', 0.97), ('Ivanna', 0.97), ('Honour', 0.97), ('Bennett', 0.97), ('Ezra', 0.97), ('Leighton', 0.97), ('Jubilee', 0.97), ('Roselynn', 0.97), ('Yekusiel', 0.97), ('Callin', 0.97), ('Ariadne', 0.96), ('Rhys', 0.96), ('Raylon', 0.96), ('Aubri', 0.96), ('Kenzie', 0.96), ('Keaston', 0.96), ('Leevi', 0.96), ('Lesieli', 0.96), ('Westen', 0.96), ('Yousif', 0.96), ('Samier', 0.96), ('Alister', 0.96), ('Emilyn', 0.96), ('Sloan', 0.96), ('Adriel', 0.96), ('Narayan', 0.96), ('Chevy', 0.96), ('Liem', 0.96), ('Alasdair', 0.96), ('Lev', 0.96), ('Setareh', 0.96), ('Hadassah', 0.96), ('Kilani', 0.96), ('Rosali', 0.96)]

In [64]:
scores_Europe = region_dict['Europe'][:100]
names_Europe = []
for i in range(100):
    name = scores_Europe[i][0]
    names_Europe.append(name)
print names_Europe

['Roxie', 'Leeta', 'Lona', 'Susie', 'Eugenie', 'Parthenia', 'Sylvania', 'Dagmar', 'Olinda', 'Lesta', 'Leita', 'Artie', 'Monnie', 'Lennie', 'Leta', 'Nona', 'Lauretta', 'Louvenia', 'Leatha', 'Retta', 'Roe', 'Manuelita', 'Leda', 'Ardelia', 'Netta', 'Tempie', 'Nonie', 'Rosena', 'Rollie', 'Jannie', 'Lethia', 'Vinnie', 'Annice', 'Clemmie', 'Della', 'Fleming', 'Belvia', 'Rose', 'Eppie', 'Estella', 'Margaretta', 'Melvina', 'Veta', 'Pinkey', 'Woodie', 'Catharine', 'Barney', 'Martha', 'Lawyer', 'Neta', 'Anice', 'Helene', 'Hamp', 'Mada', 'Adolphus', 'Freda', 'Mose', 'Orelia', 'Irma', 'Aleda', 'Collie', 'Lugenia', 'Zollie', 'Ike', 'Dora', 'Josepha', 'Letha', 'Thyra', 'Luvenia', 'Mary', 'Percy', 'Sallye', 'Margart', 'Reta', 'Trudie', 'Willie', 'Berta', 'Cornelia', 'Electa', 'Marquerite', 'Robley', 'Burney', 'Ebbie', 'Hosie', 'Enola', 'Zona', 'Claude', 'Nonnie', 'Rella', 'Jule', 'Pearlie', 'Rosetta', 'Theodosia', 'Norine', 'Aggie', 'Pinkie', 'Leonia', 'Floretta', 'Rowena', 'Freida']

In [67]:
scores_Oceania = region_dict['Oceania'][:100]
names_Oceania = []
for i in range(100):
    name = scores_Oceania[i][0]
    names_Oceania.append(name)
print names_Oceania

['Sloan', 'Weston', 'Solange', 'Boone', 'Kiyomi', 'Arisha', 'Thorin', 'Uriah', 'Farida', 'Raylon', 'Levi', 'Jabir', 'Roselynn', 'Arian', 'Capri', 'Grey', 'Remy', 'Kiam', 'Linley', 'Jema', 'Eyad', 'Miri', 'Zeke', 'Graeme', 'Lowen', 'Lesieli', 'Yekusiel', 'Aubrey', 'Charli', 'Emi', 'Gedalia', 'Sura', 'Titus', 'Saam', 'Adrielle', 'Dariel', 'Zac', 'Efrayim', 'Adreena', 'Othniel', 'Alysson', 'Hendrik', 'Fallyn', 'Aston', 'Mysha', 'Beauregard', 'Rozlyn', 'Anabell', 'Remi', 'Colt', 'Caralynn', 'Callin', 'Abdulaziz', 'Verity', 'Akemi', 'Daiana', 'Yerachmiel', 'Raelle', 'Kato', 'Alistair', 'Saud', 'Leia', 'Nikolai', 'Zehava', 'Romina', 'Davi', 'Fitzpatrick', 'Kamilla', 'Analee', 'Adeena', 'Antonella', 'Ariella', 'Mera', 'Jenson', 'Crimson', 'Nael', 'Beaumont', 'Zinnia', 'Hosanna', 'Taleen', 'Narayan', 'Ameila', 'Afaf', 'Manoah', 'Jeremias', 'Menashe', 'Radley', 'Muhammad', 'Darina', 'Salahuddin', 'Banning', 'Aira', 'Dahlia', 'Shavy', 'Beaux', 'Elif', 'Langston', 'Quinn', 'Valyn', 'Leahmarie']

In [69]:
scores_Africa = region_dict['Africa'][:100]
names_Africa = []
for i in range(100):
    name = scores_Africa[i][0]
    names_Africa.append(name)
print names_Africa

['Charlee', 'Raelyn', 'Emberly', 'Kathalina', 'Jader', 'Raelynne', 'Sloane', 'Suria', 'Brielle', 'Leyland', 'Wren', 'Paxton', 'Zuri', 'Sutton', 'Colbie', 'Kornelius', 'Rajon', 'Kace', 'Ghazal', 'Bow', 'Persephone', 'Ember', 'Grayson', 'Milanie', 'Eira', 'Freya', 'Khalifa', 'Case', 'Bay', 'Auri', 'Maci', 'Kenley', 'Benaiah', 'Flynn', 'Kase', 'Maverick', 'Jayce', 'Briggs', 'Navy', 'Rosali', 'Renad', 'Samil', 'Lennon', 'Gunnison', 'Niome', 'Aisleen', 'Seydi', 'Liam', 'Lamere', 'Ammanuel', 'Kiralyn', 'Raelynn', 'Cairo', 'Gemma', 'Henrik', 'Annalynn', 'Ariadne', 'Auset', 'Legacy', 'Krystell', 'Dimari', 'Kyuss', 'Lynlee', 'Keyston', 'Rechy', 'Axl', 'Vidur', 'Zecharia', 'Seydina', 'Naamah', 'Eloni', 'Zanovia', 'Aubri', 'Aubrei', 'Annaleigh', 'Rynn', 'Annaleah', 'Jordynn', 'Chapel', 'Raea', 'Adalina', 'Alister', 'Pristine', 'Nihaal', 'Fatiha', 'Lian', 'Kyrus', 'Cye', 'Jannatul', 'Aalaiyah', 'Tameem', 'Daxx', 'Osiah', 'Adilen', 'Lui', 'Naveena', 'Juliete', 'Azalea', 'Valentina', 'Demoni']

In [70]:
scores_Asia = region_dict['Asia'][:100]
names_Asia = []
for i in range(100):
    name = scores_Asia[i][0]
    names_Asia.append(name)
print names_Asia

['Sura', 'Ariella', 'Yerachmiel', 'Elif', 'Adrielle', 'Jenson', 'Raelle', 'Saud', 'Adreena', 'Kiam', 'Zehava', 'Suleiman', 'Aston', 'Remington', 'Charli', 'Jema', 'Viren', 'Beaux', 'Manoah', 'Kallen', 'Nikolai', 'Shavy', 'Remi', 'Othniel', 'England', 'Kilani', 'Raylon', 'Farida', 'Honour', 'Lesieli', 'Weston', 'Lian', 'Audriana', 'Kenzi', 'Alistair', 'Aira', 'Nishika', 'Arisha', 'Yekusiel', 'Dariel', 'Grey', 'Westin', 'Nash', 'Abdulaziz', 'Kember', 'Raylyn', 'Cartier', 'Baylen', 'Benaiah', 'Nosson', 'Valyn', 'Emmeline', 'Alysson', 'Saam', 'Callan', 'Daiana', 'Remy', 'Bowen', 'Karam', 'Kayler', 'Crimson', 'Ivanna', 'Efrayim', 'Raylynn', 'Narayan', 'Kato', 'Jeancarlos', 'Keaston', 'Callin', 'Atom', 'Hesston', 'Arian', 'Roniel', 'Cali', 'Kolt', 'Kora', 'Alasdair', 'Jovi', 'Chatham', 'Sloan', 'Westen', 'Darina', 'Kamilla', 'Rosali', 'Yohannes', 'Alister', 'Boone', 'Ariadne', 'Liem', 'Graeme', 'Sapphira', 'Zuri', 'Mysha', 'Batsheva', 'Aubri', 'Jubilee', 'Kenzie', 'Leevi', 'Setareh', 'Quinne']

In [71]:
scores_Americas = region_dict['Americas'][:100]
names_Americas = []
for i in range(100):
    name = scores_Americas[i][0]
    names_Americas.append(name)
print names_Americas

['Grey', 'Nikolai', 'Sura', 'Remi', 'Jenson', 'Charli', 'Elif', 'Zehava', 'Yerachmiel', 'Ariella', 'Beaux', 'Nash', 'Kiam', 'Othniel', 'Suleiman', 'Aubrey', 'Dariel', 'Raelle', 'Alistair', 'Manoah', 'Aston', 'Shavy', 'Kallen', 'Saud', 'Daiana', 'Aira', 'Lian', 'Adreena', 'Adrielle', 'Raylyn', 'Farida', 'Viren', 'Remington', 'Darina', 'Emmeline', 'Kamilla', 'Arisha', 'Kenzi', 'Bowen', 'Alysson', 'Raylynn', 'Dahlia', 'Westin', 'Atom', 'Nishika', 'Cali', 'Sapphira', 'Kato', 'Crimson', 'Jema', 'England', 'Karam', 'Nosson', 'Roniel', 'Benaiah', 'Cartier', 'Matias', 'Kora', 'Jovi', 'Gideon', 'Boone', 'Weston', 'Dezi', 'Eli', 'Avni', 'Valyn', 'Remy', 'Ivanna', 'Honour', 'Bennett', 'Ezra', 'Leighton', 'Jubilee', 'Roselynn', 'Yekusiel', 'Callin', 'Ariadne', 'Rhys', 'Raylon', 'Aubri', 'Kenzie', 'Keaston', 'Leevi', 'Lesieli', 'Westen', 'Yousif', 'Samier', 'Alister', 'Emilyn', 'Sloan', 'Adriel', 'Narayan', 'Chevy', 'Liem', 'Alasdair', 'Lev', 'Setareh', 'Hadassah', 'Kilani', 'Rosali']

In [65]:
state_names = pd.read_csv('Datasets/StateNames.csv', delimiter = ',', usecols = [1, 2, 3, 4, 5])

In [66]:
state_names.head()

       Name  Year Gender State  Count
0      Mary  1910      F    AK     14
1     Annie  1910      F    AK     12
2      Anna  1910      F    AK     10
3  Margaret  1910      F    AK      8
4     Helen  1910      F    AK      7