In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
from IPython.display import display

In [3]:
# get our initial data
df = pd.read_csv('Datasets/ImmigrationByCountryAndYear.csv')
display(df)

,ï»¿Region and country or area,2000,1990,1980,1970,1960,1950,1920,1910,1900,1890,1880,1870,1860,1850
0,Total,"31,107,889","19,767,316","14,079,906","9,619,302","9,738,091","14,204,149","13,920,692","13,515,886","10,341,276","9,249,547","6,679,943","5,567,229","4,138,697","2,244,602"
1,Reported by region and/or country,"31,107,573","18,959,158","13,192,563","9,303,570","9,678,201","14,197,553","13,911,767","13,506,272","10,330,534","9,243,535","6,675,875","5,563,637","4,134,809","2,202,625"
2,Europe,"4,915,557","4,350,403","5,149,572","5,740,891","7,256,311","11,784,010","11,916,048","11,810,115","8,881,548","8,030,347","5,751,823","4,941,049","3,807,062","2,031,867"
3,Northern and Western Europe,"2,070,446","2,058,853","2,384,257","2,629,200","3,334,971","5,850,256","6,241,916","7,306,325","7,204,649","7,288,917","5,499,889","4,845,679","3,773,347","2,022,195"
4,Northern Europe,"974,619","968,271","1,083,499","1,271,591","1,694,430","3,415,551","3,501,149","3,953,947","3,917,815","4,056,160","3,212,431","2,867,926","2,271,661","1,358,887"
5,British Isles,"834,225","809,972","866,966","937,474","1,171,777","2,147,733","2,172,723","2,573,534","2,783,082","3,122,911","2,772,169","2,626,241","2,199,079","1,340,812"
6,United Kingdom (total),"677,715","640,145","669,149","686,099","833,055","1,402,923",(X),(X),(X),(X),(X),(X),(X),(X)
7,Great Britain (total),"677,751","623,614","649,318","645,262","764,893","1,224,091","1,135,489","1,221,283","1,167,623","1,251,402","917,598","770,414","587,775","379,093"
8,England,"423,609","405,588","442,499","458,114","528,205","809,563","813,853","877,719","840,513","908,141","662,676","550,924","431,692","278,675"
9,Scotland,"88,445","104,168","142,001","170,134","213,219","354,323","254,570","261,076","233,524","242,231","170,136","140,835","108,518","70,550"
10,Wales,"10,948","10,638","13,528","17,014","23,469","60,205","67,066","82,488","93,586","100,079","83,302","74,533","45,763","29,868"
11,Great Britain n.e.c.,"141,572","103,220","51,290",(NA),(NA),(NA),(NA),(NA),(NA),951,"1,484","4,122","1,802",(NA)
12,Northern Ireland,"13,177","16,531","19,831","40,837","68,162","178,832",(X),(X),(X),(X),(X),(X),(X),(X)
13,Ireland,"156,474","169,827","197,817","251,375","338,722","744,810","1,037,234","1,352,251","1,615,459","1,871,509","1,854,571","1,855,827","1,611,304","961,719"
14,Scandinavia,"140,394","158,299","216,533","334,117","522,653","1,267,818","1,328,426","1,380,413","1,134,733","933,249","440,262","241,685","72,582","18,075"
15,Denmark,"31,422","34,999","42,732","61,410","85,060","179,474","189,154","181,649","153,690","132,543","64,196","30,107","9,962","1,838"
16,Finland,"21,408","22,313","29,172","45,499","67,624","142,478","149,824","129,680","62,641",(NA),(NA),(NA),(NA),(NA)
17,Iceland,"5,553","5,071","4,156","2,895","2,780","2,764",(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA)
18,Norway,"32,207","42,240","63,316","97,243","152,698","347,852","363,863","403,877","336,388","322,665","181,729","114,246","43,995","12,678"
19,Sweden,"49,724","53,676","77,157","127,070","214,491","595,250","625,585","665,207","582,014","478,041","194,337","97,332","18,625","3,559"
20,Western Europe,"1,095,847","1,090,582","1,300,758","1,357,609","1,640,541","2,434,705","2,740,767","3,352,378","3,286,834","3,232,757","2,287,458","1,977,753","1,501,686","663,308"
21,Low countries,"130,615","132,617","142,748","155,513","173,069","206,375","207,038","172,534","127,719","107,349","86,461","65,157","37,353","11,161"
22,Belgium,"33,895","34,366","36,487","41,412","50,294","64,194","62,687","49,400","29,757","22,639","15,535","12,553","9,072","1,313"
23,Luxembourg,"2,150","2,053","3,125","3,531","4,360","9,048","12,585","3,071","3,031","2,882","12,836","5,802",(NA),(NA)
24,Netherlands,"94,570","96,198","103,136","110,570","118,415","133,133","131,766","120,063","94,931","81,828","58,090","46,802","28,281","9,848"
25,Austria,"63,648","87,673","145,607","214,014","304,507","370,914","575,627","626,341","275,907","123,271","38,663","30,508","25,061",946
26,France,"151,154","119,233","120,215","105,385","111,582","135,592","153,072","117,418","104,197","113,174","106,971","116,402","109,870","54,069"
27,Germany,"706,704","711,929","849,384","832,965","989,815","1,608,814","1,686,108","2,311,237","2,663,418","2,784,894","1,966,742","1,690,533","1,276,075","583,774"
28,Switzerland,"43,106","39,130","42,804","49,732","61,568","113,010","118,659","124,848","115,593","104,069","88,621","75,153","53,327","13,358"
29,Other Western Europe,(NA),(NA),(NA),(NA),(NA),(NA),263,(NA),(NA),(NA),(NA),(NA),(NA),(NA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,India,"1,022,552","450,406","206,087","51,000","12,296","5,850","4,901","4,664","2,031","2,143","1,707",586,(NA),(NA)
58,Japan,"347,539","290,128","221,794","120,235","109,175","70,993","81,502","67,744","24,788","2,292",401,73,(NA),(NA)
59,Palestine,(NA),"21,070",(NA),(NA),(NA),"6,137","3,203",(NA),(NA),(NA),(NA),(NA),(NA),(NA)
60,Syria,"54,561","36,782","22,081","14,962","16,717","57,227","51,901",(NA),(NA),(NA),(NA),(NA),(NA),(NA)
61,Turkey in Asia,"78,378","55,087","51,915","48,085","52,228","46,654","11,019","59,729",(NA),(NA),(NA),(NA),(NA),(NA)
62,Other Asia,(NA),"3,595,727","1,751,780","418,473","200,845","10,509","5,236","2,591","11,895","2,260","1,054",864,"1,231",377
63,Africa,"881,300","363,819","199,723","80,143","35,355","18,326","16,126","3,992","2,538","2,207","2,204","2,657",526,551
64,Africa excl. Atlantic Islands,(NA),"349,451","189,266","61,463","27,053","8,859","5,781","3,992","2,538","2,207","2,204","2,657",526,551
65,Atlantic Islands,(NA),"14,368","10,457","18,680","8,302","9,467","10,345",(NA),(NA),(NA),(NA),(NA),(NA),(NA)
66,Oceania,"168,046","104,145","77,577","41,258","34,730","17,343","14,626","11,450","8,820","9,353","6,859","4,028","2,140",588
67,Australia,"60,965","42,267","36,120","24,271","22,209","12,816","10,914","9,035","6,807","5,984","4,906","3,118","1,419",(NA)
68,Sandwich Islands (Hawaii),(X),(X),(X),(X),(X),(X),(X),(X),(X),"1,304","1,147",584,435,588
69,Other Oceania,"61,878","41,457","16,987","12,521","4,527","3,712","2,415","2,013","2,065",806,326,286,(NA),NaN
70,Latin America,"16,086,974","8,407,837","4,372,487","1,803,970","908,309","791,840","588,843","279,514","137,458","107,307","90,073","57,871","38,315","20,773"
71,Caribbean,"2,953,066","1,938,348","1,258,363","675,108","193,922","106,241","78,962","47,635","25,435","23,256","16,401","11,570","7,353","5,772"
72,Cuba,"872,716","736,971","607,814","439,048","79,150","18,493","14,872","15,133","11,081",(NA),"6,917","5,319",(NA),(NA)
73,Other Caribbean,(NA),"1,201,377","650,549","236,060","114,772","87,748","64,090","32,502","14,354",(NA),"9,484","6,251",(NA),(NA)
74,Central America,"11,203,673","5,431,992","2,553,113","873,624","624,851","651,976","491,330","223,651","107,290","79,045","69,106","42,736","27,699","13,458"
75,Mexico,"9,177,487","4,298,014","2,199,221","759,711","575,902","641,462","486,418","221,915","103,393","77,853","68,399","42,435","27,466","13,317"
76,Other Central America,"2,026,150","1,133,978","353,892","113,913","48,949","10,514","4,912","1,736","3,897","1,192",707,301,233,141
77,South America,"1,930,271","1,037,497","561,011","255,238","89,536","33,623","18,551","8,228","4,733","5,006","4,566","3,565","3,263","1,543"
78,Northern America,"829,442","753,917","853,427","812,421","952,500","1,310,369","1,138,174","1,209,717","1,179,922","980,938","717,286","493,467","249,970","147,711"
79,Canada,"820,771","744,830","842,859","812,421","952,500","1,310,369","1,138,174","1,209,717","1,179,922","980,938","717,157","493,464","249,970","147,711"
80,Canada-French,(NA),(NA),(NA),(NA),(NA),"370,852","307,786","385,083","395,126","302,496",(NA),(NA),(NA),(NA)
81,Canada-Other,(NA),(NA),(NA),(NA),(NA),"915,537","817,139","819,554","784,796","678,442",(NA),(NA),(NA),(NA)
82,Newfoundland,(NA),(NA),(NA),(NA),(NA),"23,980","13,249","5,080",(NA),(NA),(NA),(NA),(NA),(NA)
83,Other Northern America,"8,671","9,087","10,568",(NA),(NA),(NA),(NA),(NA),(NA),(NA),129,3,(NA),(NA)
84,Region or country not reported,316,"808,158","887,343","315,732","59,890","6,596","8,925","9,614","10,742","6,012","4,068","3,592","3,888","41,977"
85,Born at sea,(NA),(NA),(NA),(NA),(NA),"5,008","5,336","6,927","8,196","5,533","4,068","2,638","2,522",(NA)
86,Not reported,(NA),(NA),(NA),(NA),(NA),"1,588","3,589","2,687","2,546",479,(NA),954,"1,366","41,977"

In [ ]:
# turn it into an easy to understand